<template>
<div class="relative" v-on-clickaway="hide">
    <div class="relative">
        <div class="border-solid border-2 border-grey-darker h-10 w-10 rounded-full flex items-center justify-center text-2xl" @click.prevent="show(!visible)">S</div>
    </div>
    <div
        class="dropdown-container"
        v-show="visible"
    >
        <div class="dropdown-item">
            <a href="#">Profile</a>
        </div>
        <div class="dropdown-item">
            <a href="#">Logout</a>
        </div>
    </div>
</div>
</template>
<script>
    import Dropdown from './Dropdown';
    import { mixin as clickaway } from 'vue-clickaway';
    export default Dropdown.extend({
        mixins: [clickaway],
    })
</script>
