<template>
    <div class="bg-red min-h-screen flex flex-col">
        <navbar></navbar>
        <div class="flex flex-1">
            <sidebar></sidebar>
            <router-view></router-view>
        </div>
    </div>
</template>
<script>
    import Sidebar from './partials/Sidebar';
    import Navbar from './partials/Navbar';
    export default {
        components:{
            Sidebar,
            Navbar
        },
        props:[
            'settings'
        ]
    }
</script>
