<template>
    <div class="bg-white flex">
        <div class="w-1/4 text-lg py-4 px-2 bg-grey-lighter">Gaan Admin</div>
        <div class="flex flex-1 items-center justify-end px-4">
            <user-settings></user-settings>
        </div>
    </div>
</template>
<script>
    import UserSettings from '../../../components/admin/UserSettings';
    export default {
        components:{
            UserSettings
        }
    }
</script>
