<template>
    <div class="flex flex-col w-1/4 bg-grey-darkest p-4 text-grey-light">
        <router-link :to="{ name: 'home' }" class="no-underline text-grey-light">Home</router-link>
        <router-link :to="{ name: 'hello' }" class="no-underline text-grey-light">Settings</router-link>
    </div>
</template>
<script>
    export default{}
</script>
